:root {
   
    --DesaturatedRed: #ce9797;
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed:hsl(0, 93%, 68%);


    --g1: hsl(0, 0%, 100%);
    --g1end:hsl(0, 100%, 98%);
    --g2: hsl(0, 80%, 86%);
    --g2end: hsl(0, 74%, 74%);
   
}